{% extends "blog/base.html" %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
<header>
	<h3>
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h3>

	{% if show_edit %}
	<div class="actions inline">
		<a class="btn btn-warning" type="button" href="{% url "post-edit" post.slug %}">Edit</a>
		<form class="inline" action="{% url "post-delete" post.slug %}" method="post">{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</div>
	{% endif %}

	<span class="post-info">by {{ post.author.email }} on {{ post.published|date:"F jS Y" }}</span>

	{% for tag in post.tagobjs.all %}
		<a class="label label-default" href="{% url "tag" tag.name %}">{{ tag }}</a>
	{% endfor %}
</header>
<div class="content">{{ post.content_markup|safe }}</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jkal-blog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}