{% extends "blog/base.html" %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
<header>
	<h3>
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h3>

	{% if user.is_superuser %}
	<div class="actions inline">
		<a class="btn btn-warning" type="button" href="{% url "post-edit" post.slug %}">Edit</a>
		<form class="inline" action="{% url "post-delete" post.slug %}" method="post">{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</div>
	{% endif %}

	<span class="post-info">by {{ post.author.email }} on {{ post.published|date:"F jS Y" }}</span>

	{% for tag in post.tagobjs.all %}
		<a class="label label-default" href="{% url "tag" tag.name %}">{{ tag }}</a>
	{% endfor %}
</header>
<div class="content">{{ post.content_markup|safe }}</div>
{% endblock %}