{% extends "blog/base.html" %}

{% block title %}Posts tagged with {{ tag }} - {{ block.super }}{% endblock %}

{% block content %}

	{% if results %}
	<h3>Results for <span class="label label-default">{{ query }}</span></h3>

	<ul class="postlist">
		{% for doc in results %}  
	 	<li>
			<h3><a href="{% url 'post' doc.slug %}">{{ doc.title }}</a></h3>
			<span class="post-info">by {{ doc.author }}</span>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p><h3>No posts found.</h3></p>
	{% endif %}

{% endblock %}